html{
  scroll-behavior: smooth;
}

:root{
  --width:100px
}


#mututal-funds-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 20px auto;
    border:1px solid rgba(0, 0, 0, 0.219);
    /* height: 3; */
    border-radius: 20px;
    padding: 20px;
  }
  
  #mutual-funds-filters{
    margin-top: 10px;
  }
  
  
  .filter{
    border: 0;
    background-color: #edf1f6;
    color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: 600;
    margin-bottom: 5px;
    transition:all 0.2s;
  }

  .filter:hover{
    cursor: pointer;
  }

  /* .filter:focus{
    background-color: #3446EC;
    color: #fff;
  } */
  
  #mutual-funds-filters>hr{
    margin-top: 10px;
  }
  
  
  #applied-filters-container{
    margin-top: 10px;
  }
  
  #mutual-fund-search{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImdyZXkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 1rem 7rem 1rem 4rem;
    border: 1px solid #a09b9b ;
    border-radius: 10px;
    outline: 0;
    max-width: 100%;
  }


  #all-filters-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#edf1f6 ;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
  }


#right-side-filters{
  /* width: 20%; */
  display: flex;
  gap: 5vw;
  text-align: right;
  
}


#mutual-fund-data-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */

  /* overflow-y: auto; */
}
  
.company-data{
  display: flex;
  align-items: center;
 justify-content: space-between;
 border-bottom: 2px dashed #000;
font-weight: 500;
gap: 10px;
padding: 20px 0 20px 20px;
}

#oneyr-return-container{
  display: flex;
  flex-direction: column;
  /* width: 20%; */
}

#oneyear-nav{
  display: flex;
  flex-direction: column;
  width: var(--width);
}

.oneyr-return{
 
  /* padding: 10px 10px 10px 20px; */
}

#mutual-fund-house-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
margin-top: 5px;
overflow: hidden;
}

.mutual-fund-name:hover{
  cursor: pointer;
}


#load-more-btn{
  transition:all 0.2s;
  font-family: inherit;
}

#load-more-btn:hover{
  cursor: pointer;
  background-color: rgb(211, 27, 27);
}

.loader{
  border-radius:"50%";
  width:"50px";
  height:"50px";
  border-top:"2px solid black"
}



#container{
  display:flex;
  
}
#Scheme-Name{
  display:flex;
  flex-direction:column;
  width:40%;
}

#Current-Nav{
  display:flex;
  flex-direction:column;
  width:20%;
  height:500px;
}

#oneY-Return{
  display:flex;
  flex-direction:column;
  width:20%;
  height:500px;
}

#twoY-Return{
  display:flex;
  flex-direction:column;
  width:20%;
  height:500px;
}

#fiveY-Return{
  display:flex;
  flex-direction:column;
  width:10%;
  height:500px;
}


@keyframes loading {
 0% {
     transform: rotate(0deg);
 }
 100%{
  transform: rotate(360deg);
 }
}

@media (max-width: 400px){
  #all-filters-container{
    font-size: 11px;
    padding: 10px 2px 10px 2px;
  }
  #mutual-fund-data-container{
    font-size: 12px;
  }
 
  .company-data{
    padding-left: 0px;
  }

}

