
#mututal-funds-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 20px auto;
    border:1px solid rgba(0, 0, 0, 0.219);
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
  }
  
  #mutual-funds-filters{
    margin-top: 10px;
  }
  
  
  .filter{
    border: 0;
    background-color: #edf1f6;
    color: #000;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: 600;
  }

  .filter:hover{
    cursor: pointer;
  }

  .filter:focus{
    background-color: #3446EC;
    color: #fff;
  }
  
  #mutual-funds-filters>hr{
    margin-top: 10px;
  }
  
  
  #applied-filters-container{
    margin-top: 10px;
  }
  
  #mutual-fund-search{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImdyZXkiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 1rem 7rem 1rem 4rem;
    border: 1px solid #a09b9b ;
    border-radius: 10px;
    outline: 0;
  }


  #all-filters-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#edf1f6 ;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
  }


#right-side-filters{
  /* width: 20%; */
  display: flex;
  gap: 50px;
}


#mutual-fund-data-container{
  /* overflow-y: auto; */
}
  
.company-data{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 20px;
  gap: 10px;
}

.returns{
  display: flex;
  /* width: 20%; */
  gap:30px;

}

#mutual-fund-house-container{
  display: flex;
  flex-wrap: wrap;
margin-top: 5px;
}

/* .mutual-fund-house-name{
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 0;
  background-color: #edf1f6;
  color: #000;
  padding: 10px 15px;
  border-radius: 20px;
  margin-right: 10px;
  font-weight: 600;
} */


.mutual-fund-house-name:hover{
  background-color: #3446EC;
  color: #fff;
}


.mutual-fund-house-name:hover{
  cursor: pointer;
}


